/* UNIVERSAL */
.btn-pnp{
    color: #fff !important;
    /* width: 200px; */
    margin-bottom: 30px;
  }
  .btn-pnp:hover{
    color: #fff !important;
    cursor: pointer;
  }
  .breadcumb-area-saskSINP{
    background: rgba(0, 0, 0, 0) url("../img/home/sask-banner.jpg") repeat fixed center center;
    padding: 275px 0 51px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .breadcumb-area-bcPNP{
    background: rgba(0, 0, 0, 0) url("../img/home/bc-banner.jpg") repeat fixed center center;
    padding: 275px 0 51px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .breadcumb-area-migrate{
    background: rgba(0, 0, 0, 0) url("../img/home/passport-banner.jpg") repeat fixed center center;
    padding: 275px 0 51px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .breadcumb-area-ielts{
    background: rgba(0, 0, 0, 0) url("../img/home/ielts-banner.jpg") repeat fixed center center;
    padding: 275px 0 51px;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* STUDY VISA STARTS */

.study-visa-img{
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.why-choosebg{
    background-color: #b8261c;
    border-radius: 5px;
    margin: 30px 0px;
}
.why-chooseus h3{
    font-size: 3em;
    font-weight: 600;
    font-family: 'Style Script';
    color: #fff;
    line-height: 50px;
    letter-spacing: 4px;
    padding: 20px;
    border-bottom: 1px solid;
}
.road-map{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.road-map ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 90px;
}
.road-map ul li{    
    max-width: 200px;
    margin-right: 150px;
    width: 700px;
    z-index: 1;
    text-align: center;
}
.road-map::after{
    content: '-----------------------------------------------------------------------------------------------------------------------';
    position: absolute;
    color: #fff;
    top: 185px;
    z-index: 0;
}
.road-map ul li img{
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 200px;
    height: 160px;
    padding: 5px;
    border: 3px solid rgb(192, 87, 87);
}
.road-map ul li h4{
    color: rgb(39, 39, 39);
    font-weight: 400;
    padding: 10px 0px;
    text-decoration: underline;
}
.road-map ul li p{
    color: #fff;
}
.section-title h2{
    margin: 30px 20px;
}
@media screen and (max-width:992px){
    .road-map ul{
        display: flex;
        flex-direction: column;
    }
    .road-map ul li{
        margin-bottom: 30px;

    }
    .road-map::after{
        content: '';
    }
}
/* STUDY VISA ENDS */

/* IELTS/CELPIP STARTS */
.celpip{
}
.celpip ul{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.celpip ul li{
    display: flex;
    margin-bottom: 10px;
    background-color:#baa86b;
    border-radius: 10px;
}
.celpip ul li img{
    width: 150px;
    margin: 8px 10px;
    border-radius: 4px;
}
.celpip-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 8px ;
}
.bg-celpip{
    background-color: #baa86b;
}
.celpip-content h5{
    color: #000;
    font-size: 3em;
    padding: 10px;
    font-weight: 600;
    font-family: 'Style Script';
    letter-spacing: 4px;
    border-bottom: 1px solid #000;
}
.celpip-content p{
    color: #fff;
}
.celpip-img{
    padding-left: 10px;
}
.text-muted1{
    color: #000;
    font-size: 0.8em;
}
.bg-celpip1{
    background-color: #b8261c;
    border-radius: 3px;
}
@media screen and (max-width:470px){
    .card-img1{
        width: 200px !important;
        height: 200px;
    }
}
.btn-pnp{
    color: #fff !important;
    /* width: 200px; */
    margin-bottom: 30px;
  }
  .btn-pnp:hover{
    color: #fff !important;
    cursor: pointer;
  }
/* IELTS/CELPIP ENDS */

/* ALBERTA INP STARTS HERE */
.pnp-ul ul{
    text-align: left;
}
.pnp-ul ul li{
    margin-bottom: 20px;
    list-style-type:circle;
    
}
.breadcumb-area-Alberta{
    background: rgba(0, 0, 0, 0) url("../img/home/ainp.jpg") repeat fixed center center;
    padding: 275px 0 51px;
    background-repeat: no-repeat;
    background-size: cover;
}
  